
body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  color: #000;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

a {
  color: #0F6FBF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #0F6FBF;
  outline: none;
}

p, li, span, font {
  margin-bottom: 1.5em;
  font-family: 'Poppins';
}

h1, h2, h3, h4, h5, h6, a, {
  color: #000;
  font-family: 'Poppins';
  font-weight: 700;
  margin: 0 0 30px 0;
}











.home {
  position: relative;
  margin: 0;
  background: #0F6FBF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wpb_row.vc_row-fluid {
    position: relative;
    margin: 0;
}
.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.vc_custom_text {
  padding-top: 125px !important;
  padding-bottom: 150px !important;
}
.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  width: 100%;
  font-size: 16px;
  color: #000;
}
.bruno-page {
  float: left;
  min-height: 1px;
  margin-bottom: 35px;
  width: 100%;
}
.wpb_column {
  z-index: 2;
  font-size: 16px;
  color: #000;
  margin-bottom: 35px;
}
.wpb_wrapper {
    
    text-align: center;
    
}
.vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
    width: 100%;
}